body {
    background-image: url(../images/main-background.png);
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
}

/* -- General Styling -- */
h1 {
    color: #493323;
    font-family: "Amatic SC", cursive;
    font-size: 3.5rem;
    padding: 10rem 1.5rem 0;
    text-align: center;
}

h2 {
    color: #493323;
    font-family: "Amatic SC", cursive;
    font-size: 3rem;
    padding: 0 2rem 1rem;
    text-align: center;
}

h3 {
    color: #493323;
    font-family: "Balsamiq Sans", cursive;
    font-size: 2rem;
    padding: 2rem 0 1rem;
    text-align: center;
}

h5 {
    color: #493323;
    font-family: "Balsamiq Sans", cursive;
    text-align: center;
}

.font-amatic {
    font-family: "Amatic SC", cursive;
}

.font-balsamiq {
    font-family: "Balsamiq Sans", cursive;
}

.font-weight-700 {
    font-weight: 700;
}

.color-493323 {
    color: #493323;
}

.color-fbeade {
    color: #fbeade !important;
}

.color-fff {
    color: #fff;
}

.bg-color-49332-06 {
    background-color: rgba(73, 51, 35, 0.6) !important;
}

.bg-color-fbeade {
    background-color: #fbeade;
}

.text-center {
    text-align: center;
}

.btn-ffd5b7 {
    border: none;
    background-color: #ffd5b7;
    color: #493323;
}

.btn-ffd5b7-06 {
    border: none;
    background-color: rgba(255, 213, 183, 0.6);
    color: #493323;
    float: right;
}

.btn:hover {
    background-color: #fff !important;
}

.btn-e84610 {
    border: none;
    background-color: #ffd5b7;
    color: #e84610;
    float: right;
}

.btn-e84610:hover {
    color: #e84610;
}

.btn-center {
    margin: 0 auto;
    width: fit-content;
}

hr.hr-493323 {
    border: 0.5rem solid #493323;
    border-radius: 0.25rem;
    margin: 0 auto;
    width: 80%;
}

hr.hr-fff {
    border: 0.3rem solid #fff;
    margin: 3rem 0 2.5rem;
}

/* -- Navbar -- */
.navbar {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.navbar-nav a:hover {
    color: #ff7c3e !important;
}

.dropdown-menu a:hover {
    color: #493323 !important;
}

.navbar-brand img {
    width: 3.5rem;
}

.dropdown-item:hover {
    background-color: #ffd5b7;
}

.vl {
    color: #fbeade;
    padding-top: 0.5rem;
}

.form-search > .form-control {
    height: auto;
}

.form-search > .form-control:focus {
    border-color: #fbeade;
    box-shadow: inset 0 0 0 1px #493323;
}

.input-search::placeholder {
    color: rgba(73, 51, 35, 0.4);
}

.input-search:focus {
    background-color: rgba(251, 234, 222, 0.9);
    color: #493323;
}

.input-search {
    background-color: rgba(251, 234, 222, 0.9) !important;
    border: 1px solid #fbeade;
}

.btn-search {
    border: 1px solid #fbeade;
    padding-top: 0.5rem;
}

.btn-search:hover {
    color: #fbeade;
    background-color: #ff7c3e !important;
}

/* -- Flash Message -- */
.alert {
    margin-bottom: 0;
}

.success {
    background-color: #fbeade;
    color: #493323;
    left: 1rem;
    margin: 0 auto;
    position: absolute;
    right: 1rem;
    top: 5rem;
}

.error {
    background-color: #ff7c3e;
    bottom: 1rem;
    color: #fff;
    left: 1rem;
    margin: 0 auto;
    position: absolute;
    right: 1rem;
}

/* -- Header -- */
header {
    min-height: 100vh;
    word-wrap: break-word;
}

#uncle-jam {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 17rem;
}

#categories {
    bottom: 5rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 15rem;
}

/* -- index.html & recipe.html -- */
.recipe-home-img {
    margin: 1rem;
    width: 7rem;
}

#section-recipe-summary,
#section-recipe,
#section-shop,
#section-manage-category {
    background-color: rgba(251, 234, 222, 0.3);
}

.recipe-full {
    border-radius: 0;
    padding: 0 1.2rem;
}

.recipe-full-img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.recipe-img-top {
    height: 50vw;
    object-fit: cover;
    width: 100%;
}

.recipe-summary {
    margin: 0 auto 3rem;
    width: 95%;
}

.category,
.posted-list li {
    font-size: 0.8rem;
}

.see-recipe {
    color: #e84610;
}

.see-recipe:hover {
    color: rgba(232, 70, 16, 0.6);
}

.see-recipe:visited {
    color: rgba(232, 70, 16, 0.6);
}

.blank-space-top {
    height: 2.5rem;
}

.p-tips {
    font-size: 0.9rem;
}

.back-category-link {
    float: right;
}

/* -- categories.html -- */
.categories-img {
    bottom: 4rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 17rem;
}

/* -- shop.html -- */
.card-shop {
    margin: 0 auto 2.5rem;
    width: 90%;
}

.affiliate-img {
    display: block;
    margin-top: 1rem;
    text-align: center;
}

/* -- register.html & login.html & create_recipe.html & create_category.html -- */
.uj-back-page-logo {
    margin: 1rem;
    width: 6rem;
}

.back-page-logo {
    margin: 1rem;
    width: 4rem;
}

#section-account,
#section-manage-recipe,
#section-create-edit-category {
    background-color: rgba(73, 51, 35, 0.3);
    border-radius: 0.25rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 90%;
}

#section-manage-recipe {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}

#section-manage-category {
    margin: 0 auto;
    padding: 0 2rem;
}

#form-account,
#form-recipe,
#form-category {
    margin: 1.5rem auto 0;
    width: 90%;
}

.note-register,
.note-recipe {
    font-size: 0.8rem;
    padding: 2rem 1rem 0;
}

.form-counter {
    color: #ffd5b7;
    font-size: 0.8rem;
}

.btn-account {
    background-color: #ffd5b7;
}

.diversion-account {
    font-size: 0.9rem;
    padding: 1.5rem 2rem 0;
}

.diversion-account a,
.diversion-home a {
    color: #fff;
    font-weight: bolder;
}

.recipe-select {
    border: none;
}

.recipe-select:focus {
    border: none;
    -webkit-box-shadow: none;
}

.input-note {
    font-size: 0.7rem;
    float: right;
    margin-bottom: 0;
    padding-left: 0.25rem;
}

.btn-note {
    font-family: "Nunito", sans-serif;
    padding-top: 0.1rem;
    text-transform: lowercase;
}

.remove-field-ingreds,
.remove-field-steps {
    float: right;
}

/* -- profile.html -- */
.profile-text {
    padding: 9rem 1.5rem 0;
}

.profile-img {
    padding: 2rem 0 1rem;
    width: 7rem;
}

.btn-create-recipe {
    margin: 0 auto;
}

.home {
    color: #0060ff;
    float: left;
}

/* -- edit_recipe.html -- */
.btn-edit,
.btn-shop {
    float: left;
    width: 8rem;
}

/* -- Page 404 -- */
.page-404-img {
    margin-bottom: 1rem;
    width: 8rem;
}

.uj404-back-page-logo {
    bottom: 2rem;
    float: right;
    margin-top: 3rem;
    right: 0;
    width: 8rem;
}

/* Credit: html code generator @ https://www.html-code-generator.com/css/speech-bubble-generator */
.bubble {
    background-color: rgba(73, 51, 35, 0.3);
    border-radius: 0.25rem;
    position: relative;
    margin: 0 auto;
    width: 80%;
}

.bubble:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 2.56rem 3.5rem 0;
    border-color: transparent rgba(73, 51, 35, 0.3) transparent transparent;
    bottom: -3.5rem;
    left: 80%;
    margin-left: -1.28rem;
}
/* /End of Credit */

/* -- Footer -- */
.input-subscribe {
    background-color: rgba(73, 51, 35, 0.3) !important;
}

.social-media {
    border: none;
    font-size: 1.5rem;
}

.social-media.active,
.social-media.active:focus,
.social-media.focus,
.social-media:active,
.social-media:active:focus,
.social-media:focus,
.social-media:hover {
    background-color: #ffd5b7 !important;
}

.hide {
    display: none;
}

/* -- Modal Delete Confirmation -- */
.modal-header, .modal-footer {
    border: none;
}

/* -- Media Query: Mobile Landscape Screen Size Bigger Than 40rem / 640px -- */
@media only screen and (min-width: 40rem) {
    #uncle-jam, .categories-img {
        display: block;
        margin: 0 auto;
        padding-top: 5rem;
        position: relative;
        width: 13rem;
    }

    .categories-img {
        bottom: 0;
    }

    h1 {
        padding-top: 0.5rem;
    }

    #section-account,
    #section-create-edit-category {
        margin-bottom: 3rem;
    }
}

/* -- Media Query: Tablet Screen Size Bigger Than 48rem / 768px -- */
@media only screen and (min-width: 48rem) {
    h1 {
        font-size: 4rem;
        padding-top: 1rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    .border-radius-025 {
        border-radius: 0.25rem;
    }

    #uncle-jam,
    .categories-img {
        display: block;
        margin: 0 auto;
        padding-top: 13rem;
        position: relative;
        width: 20rem;
    }

    .categories-img {
        width: 18rem;
    }

    .recipe-img-top {
        height: 30vw;
    }

    #section-recipe {
        margin: 0 auto 3rem;
        max-width: 80rem;
        padding: 3rem 3rem 2rem;
        width: 85%;
    }

    .grid-top {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .grid-top-img {
        grid-column: 2/2;
        margin: 0 auto;
        width: 70%;
    }

    .grid-top-title {
        grid-row: 1/1;
    }

    .grid-bottom {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 2fr;
    }

    .tips {
        margin: 2rem auto 1rem;
        width: 60%;
    }

    hr.hr-493323 {
        margin-bottom: 3rem;
        width: 22rem;
    }

    #section-account,
    #section-create-edit-category,
    #section-page-404 {
        width: 30rem;
    }

    #section-account, 
    #section-create-edit-category {
        margin-bottom: 0;
    }

    .success,
    .error {
        width: 40rem;
    }

    #section-manage-recipe,
    #section-manage-category {
        width: 40rem;
    }

    #section-page-404 {
        margin: 0 auto;
    }
}

/* -- Media Query: Desktop Screen Size Bigger Than 62rem / 992px -- */
@media only screen and (min-width: 62rem) {
    .register {
        margin-left: 3rem;
    }

    #uncle-jam {
        padding-top: 10rem;
    }

    .left-top {
        left: 4rem;
        opacity: 0.5;
        position: absolute;
        top: 6rem;
        width: 6rem;
    }

    .right-top {
        opacity: 0.5;
        position: absolute;
        right: 4rem;
        top: 6rem;
        width: 6rem;
    }

    .right-bottom {
        opacity: 0.5;
        bottom: 2rem;
        position: absolute;
        right: 4rem;
        width: 6rem;
    }

    .left-bottom {
        opacity: 0.5;
        bottom: 2rem;
        left: 4rem;
        position: absolute;
        width: 6rem;
    }

    .recipe-img-top {
        height: 20vw;
    }

    #section-recipe-summary {
        margin: 0 auto;
        padding: 0 1.875rem;
        width: 85%;
    }

    footer {
        margin-top: 2rem;
    }
}