{% extends "base.html" %}

{% block heading %}
<div class="text-center">
    {% if category_name == "bread" %}
    <img class="categories-img" src="{{ url_for('static', filename='images/bread.png') }}" alt="Category Bread">
    {% elif category_name == "cake" %}
    <img class="categories-img" src="{{ url_for('static', filename='images/cake.png') }}" alt="Category Cake">
    {% elif category_name == "biscuit" %}
    <img class="categories-img" src="{{ url_for('static', filename='images/biscuit.png') }}" alt="Category Biscuit">
    {% else %}
    <img class="categories-img" src="{{ url_for('static', filename='images/other-categories.png') }}"
        alt="Category Other">
    {% endif %}
    <h2>Recipe By Category</h2>
    <img class="d-none d-lg-inline left" src="{{ url_for('static', filename='images/coffee.png') }}" alt="Coffee">
    <img class="d-none d-lg-inline right" src="{{ url_for('static', filename='images/coffee.png') }}" alt="Coffee">
</div>
{% endblock %}

{% block content %}
<section id="section-recipe-summary">
    <div class="container-fluid">
        <div class="row">
            <h3>{{ category_name | title }}</h3>
            <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
            {% for recipe in recipes %}
            <div class="col-md-6 col-lg-4">
                <div class="card recipe-summary bg-color-fbeade">
                    <!-- Recipe Image & Category & Title -->
                    <div class="card-body">
                        {% if recipe.recipe_img_url %}
                        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                            <img class="card-img-top recipe-img-top" src="{{ recipe.recipe_img_url }}"
                                alt="{{ recipe.recipe_title }}" /></a>
                        {% else %}
                        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                            <img class="card-img-top recipe-img-top"
                                src="{{ url_for('static', filename='images/no-recipe-img.png') }}"
                                alt="No recipe image" /></a>
                        {% endif %}
                        <p class="card-text category">Category: {{ recipe.category_name | title }}</p>
                        <h4 class="card-title pt-2 pb-1">
                            {{ recipe.recipe_title | title }}</h4>
                        <p class="card-text">{{ recipe.recipe_desc | truncate(70) }} </p>
                    </div>
                    <!-- Recipe Owner & Posted Date -->
                    <ul class="list-group list-group-flush posted-list">
                        <li class="list-group-item bg-color-fbeade text-center">Posted by
                            {{ recipe.username | capitalize }}</li>
                        <li class="list-group-item bg-color-fbeade text-center">on {{ recipe.posted_date }}
                        </li>
                    </ul>
                    <!-- See Recipe Button -->
                    <div class="card-body">
                        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="card-link see-recipe">See
                            Recipe</a>
                    </div>
                    {% if recipe.recipe_owner %}
                    <div class="bbc-recipe text-center">
                        <a class="p-2" href="{{ recipe.recipe_owner }}" target="_blank" rel="noopener">&#40;BBC
                            Recipe&#41;</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /End of Credit -->
    </div>
    {{ pagination.links }}
</section>
{% endblock %}