{% extends "base.html" %}

{% block heading %}
<a href="{{ url_for('profile', username=session['user']) }}"><img
        src="{{ url_for('static', filename='images/gingerbread-man.png') }}" alt="Ginderbread Man"
        id="gingerbread-man-recipe"></a>
<h2 class="font-amatic color-493323 text-center">Create Your Recipe</h2>

<section class="section-create-recipe color-fbeade">
    <p class="note-recipe text-center"><i class="fas fa-info-circle"></i> Follow the below steps to create your recipe &
        post it. Take a look at general guidance before creating a recipe
    </p>
    <!-- Credit: MDB Forms & Input + Bootstrap Dropdowns @ https://mdbootstrap.com/docs/standard/forms/overview/ & @ https://getbootstrap.com/docs/5.0/components/dropdowns/ -->
    <form id="form-recipe" method="POST" action="{{ url_for('create_recipe') }}">
        <!-- Select Category -->
        <div class="form-outline mb-4 form-white">
            <select id="category_name" name="category_name" class="form-select bg-color-49332-06 recipe-select"
                aria-label="Recipe Categories">
                <option selected disabled required>Select Category</option>
                {% for category in categories %}
                <option value="{{ category.category_name }}">{{ category.category_name | title }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Recipe Title -->
        <div class="form-outline mb-4 form-white">
            <input type="text" id="recipe_title" name="recipe_title" class="form-control bg-color-49332-06"
                maxlength="50" required />
            <label class="form-label" for="recipe_title">Recipe Title</label>
            <p class="input-note">&#40;max 50&#41;</p>
        </div>
        <!-- Recipe Description -->
        <div class="form-outline mb-4 form-white">
            <textarea id="recipe_desc" name="recipe_desc" class="form-control bg-color-49332-06" maxlength="300"
                rows="5" required></textarea>
            <label class="form-label" for="recipe_desc">Recipe Descriptions</label>
            <p class="input-note">&#40;max 300&#41;</p>
        </div>
        <!-- Recipe Time -->
        <div class="form-outline mb-4 form-white">
            <select id="recipe_time" name="recipe_time" class="form-select bg-color-49332-06 recipe-select"
                aria-label="Baking Time">
                <option selected disabled required>Select Time</option>
                <option value="less-than-30">Less than 30 min</option>
                {% for time in range(40, 120, 10) %}
                <option value="{{ time }}">{{ time }} min</option>
                {% endfor %}
                <option value="more-than-120">More than 120 min</option>
            </select>
        </div>
        <!-- Recipe Serves -->
        <div class="form-outline mb-4 form-white">
            <select id="recipe_serves" name="recipe_serves" class="form-select bg-color-49332-06 recipe-select"
                aria-label="Serves">
                <option selected disabled required>Select Serves</option>
                {% for num in range(2, 11) %}
                <option value="{{ num }}">{{ num }} people</option>
                {% endfor %}
            </select>
        </div>
        <!-- Recipe Ingredients -->
        <div>
            <button class="btn btn-block btn-ffd5b7 color-493323 btn-add-field-ingreds">Add Ingredients <span
                    class="input-note btn-note">&#40;max 15 fields&#41;</span></button>
        </div>
        <div class="form-outline mb-4 form-white input-fields-wrap-ingreds">
            <div>
                <input type="text" name="recipe_ingreds" class="form-control bg-color-49332-06" maxlength="50"
                    required />
                <label class="form-label" for="recipe_ingreds">Recipe Ingredients</label>
                <p class="input-note">&#40;max 50&#41;</p>
            </div>
        </div>
        <!-- Recipe Steps -->
        <div>
            <button class="btn btn-block btn-ffd5b7 color-493323 btn-add-field-steps">Add Steps <span
                    class="input-note btn-note">&#40;max 10 fields&#41;</span></button>
        </div>
        <div class="form-outline mb-4 form-white input-fields-wrap-steps">
            <div>
                <textarea name="recipe_steps" class="form-control bg-color-49332-06" rows="3" maxlength="300"
                    required></textarea>
                <label class="form-label" for="recipe_steps">Recipe Steps</label>
                <p class="input-note">&#40;max 300&#41;</p>
            </div>
        </div>
        <!-- Recipe Image URL -->
        <div class="form-outline mb-4 form-white">
            <textarea id="recipe_img_url" name="recipe_img_url" class="form-control bg-color-49332-06" rows="3"
                maxlength="200"></textarea>
            <label class="form-label" for="recipe_img_url">Recipe Image URL</label>
        </div>
        <!-- Recipe Tips -->
        <div class="form-outline mb-4 form-white">
            <textarea id="recipe_tips" name="recipe_tips" class="form-control bg-color-49332-06" rows="2"
                maxlength="200"></textarea>
            <label class="form-label" for="recipe_tips">Recipe Tips</label>
            <p class="input-note">&#40;max 200&#41;</p>
        </div>
        <!-- Post Recipe Button -->
        <div class="div-btn-account">
            <button type="submit" class="btn btn-block btn-ffd5b7 color-493323">Post Recipe</button>
        </div>
    </form>
    <!-- /End of Credit -->
</section>
{% endblock %}