{% extends "base.html" %}
{% block content %}

<main>
    <h1>Uncle Jam's Baking Recipes</h1>
    <img src="{{ url_for('static', filename='images/uncle-jam.png') }}" alt="Uncle Jam" id="uncle-jam">
</main>

<section>
    <h3 class="recipe-title">Recipes</h3>
    <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
    <div class="card recipe-summary">
        <div class="card-body">
            <img src="https://mdbootstrap.com/img/new/standard/city/062.jpg" class="card-img-top" alt="..." />
            {% for recipe in recipes %}
            <h5 class="card-title">{{ recipe.recipe_title }}</h5>
            <p class="card-text">{{ recipe.recipe_desc }}</p>
            {% endfor %}
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Recipe</a>
        </div>
    </div>
    <!-- /End of Credit -->
</section>

{% endblock %}