{% extends "base.html" %}

{% block heading %}
<a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/uncle-jam.png') }}" alt="Uncle Jam"
        id="uncle-jam-account"></a>
<h2 class="font-amatic color-493323 text-center">Login</h2>

<section class="section-account section-login color-fbeade">
    <!-- Credit: MDB Forms & Input @ https://mdbootstrap.com/docs/standard/forms/overview/ -->
    <form id="form-account" method="POST" action="{{ url_for('login') }}">
        <div class="form-outline mb-4 form-white">
            <i class="fas fa-user trailing"></i>
            <input type="text" id="username" name="username" class="form-control bg-color-49332-06" minlength="5"
                maxlength="25" required />
            <label class="username form-label" for="username">Username</label>
        </div>
        <div class="form-outline mb-4 form-white">
            <i class="fas fa-unlock-alt trailing"></i>
            <input type="password" id="password" name="password" class="form-control bg-color-49332-06" minlength="5"
                required />
            <label class="password form-label" for="password">Password</label>
        </div>
        <div class="div-btn-account">
            <button type="submit" class="btn btn-block btn-ffd5b7 color-493323">Login</button>
        </div>
    </form>
    <div>
        <p class="diversion-account text-center">Not registered yet?<br>Click <a href="{{ url_for('register') }}">HERE
                to REGISTER</a></p>
    </div>
    <!-- /End of Credit -->
</section>
{% endblock %}