{% extends "base.html" %}

{% block heading %}
<h2 class="profile-text">Manage Category</h2>
<div class="text-center">
    <img class="profile-img" src="{{ url_for('static', filename='images/utensils.png') }}" alt="Category Utensils">
</div>
<hr class="hr-493323">
<div class="text-center">
    <p class="h3 font-balsamiq color-493323 mt-4">Create Category</p>
    <a href="{{ url_for('create_category') }}" class="btn btn-ffd5b7 mt-4 mb-4">Create Category</a>
</div>
{% endblock %}


{% block content %}
<section id="section-manage-category pb-3">
    <h3>Category</h3>
    <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
    {% for category in categories %}
    <div class="card recipe-summary bg-color-fbeade">
        <!-- Recipe Image & Category & Title -->
        <div class="card-body">
            <h5>{{ category.category_name | title }}</h5>
        </div>
        <!-- Edit & Delet Recipe Buttons -->
        <div class="card-body">
            <a class="btn btn-ffd5b7" href="{{ url_for('edit_category', category_id=category._id) }}"><i
                    class="fas fa-edit"></i> Edit</a>
            <button class="btn btn-e84610" type="button" data-mdb-toggle="modal" data-mdb-target="#modal-delete"><i
                    class="fas fa-trash-alt"></i> Delete</button>
        </div>
    </div>
    <!-- Modal for Delete Confirmation & Credit: MDB Modal @ https://mdbootstrap.com/docs/standard/components/modal/ -->
    <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content color-493323">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-deleteLabel">Are you sure to DELETE?</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="h3 font-weight-700 mb-0">{{ category.category_name | title }}
                        <span class="h5">Category</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('delete_category', category_id=category._id) }}" method="POST">
                        <input class="btn btn-e84610 font-weight-700" type="submit" value="Delete"></form>
                    <button class="btn btn-ffd5b7-06" type="button" data-mdb-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- /End of Credit -->
</section>

{% endblock %}