{% extends "base.html" %}

{% block heading %}
<img id="uncle-jam" src="{{ url_for('static', filename='images/uncle-jam.png') }}" alt="Uncle Jam">
<h1>Uncle Jam's Baking Recipes</h1>
<img class="d-none d-lg-inline left-top" src="{{ url_for('static', filename='images/wheat.png') }}" alt="Wheat">
<img class="d-none d-lg-inline right-top" src="{{ url_for('static', filename='images/flour.png') }}" alt="Flour">
<img class="d-none d-lg-inline right-bottom" src="{{ url_for('static', filename='images/wheat.png') }}" alt="Wheat">
<img class="d-none d-lg-inline left-bottom" src="{{ url_for('static', filename='images/flour.png') }}" alt="Flour">
{% endblock %}

{% block content %}
<div class="container">
    {{ pagination.links }}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ loop.index + (page - 1) * per_page }}</td>
                    <td>{{ user }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.links }}
</div>

{% endblock %}