{% extends "base.html" %}

{% block heading %}
<h2 class="font-amatic color-493323 text-center profile-text">{{ username }}'s profile</h2>
<div class="text-center">
    <img src="{{ url_for('static', filename='images/gingerbread-man.png') }}" alt="Profile Image Gingerbread Man"
        class="profile-img">
</div>
<hr class="hr-493323">
<div class="text-center">
    <h4 class="font-balsamiq color-493323 mt-4">Create Your Recipe</h4>
    <a href="{{ url_for('create_recipe') }}" class="btn btn-ffd5b7 color-493323 mt-4 mb-4">Create Recipe</a>
</div>
{% endblock %}


{% block content %}
<section id="section-recipe-summary">
    <div class="container-fluid">
        <div class="row">
            <h3 class="recipe-title font-balsamiq color-493323 text-center">Your Recipes</h3>
            <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
            {% for recipe in recipes %}
            {% if session.user | lower == recipe.username | lower %}
            <div class="col-md-6 col-lg-4">
                <div class="card recipe-summary bg-color-fbeade">
                    <!-- Recipe Image & Category & Title -->
                    <div class="card-body">
                        <img src="{{ recipe.recipe_img_url }}" class="card-img-top recipe-img-top"
                            alt="{{ recipe.recipe_title }}" />
                        <p class="card-text category">Category: {{ recipe.category_name | title }}</p>
                        <h5 class="card-title recipe-summary-title font-balsamiq color-493323 text-center">
                            {{ recipe.recipe_title | title }}</h5>
                        <p class="card-text">{{ recipe.recipe_desc | truncate(70) }} </p>
                    </div>
                    <!-- Recipe Owner & Posted Date -->
                    <ul class="list-group list-group-flush posted-list">
                        <li class="list-group-item bg-color-fbeade text-center">Posted by
                            {{ recipe.username | capitalize }}</li>
                        <li class="list-group-item bg-color-fbeade text-center">on {{ recipe.posted_date }}
                        </li>
                    </ul>
                    <!-- Edit & Delet Recipe Buttons -->
                    <div class="card-body">
                        <a class="btn card-link btn-ffd5b7" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"><i
                                class="fas fa-edit"></i>Edit</a>

                        <button class="btn card-link btn-delete btn-ffd5b7" type="button" data-mdb-toggle="modal"
                            data-mdb-target="#delete-modal"><i class="fas fa-trash-alt"></i> Delete</button>

                        <!-- <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="card-link delete"><i
                                class="fas fa-trash-alt"></i> Delete</a> -->
                    </div>
                </div>
            </div>
            <!-- Modal for Delete Confirmation & Credit: MDB Modal @ https://mdbootstrap.com/docs/standard/components/modal/ -->
            <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content color-493323">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete-modalLabel">Are you sure to DELETE?</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="mb-0">{{ recipe.recipe_title | title }}</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" method="POST">
                                <input type="submit" value="Yes, Delete" class="btn btn-danger"></form>
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- /End of Credit -->
        <div class="blank-space-bottom"></div>
    </div>
</section>

{% endblock %}