{% extends "base.html" %}

{% block heading %}
<div class="text-center">
    <img src="{{ url_for('static', filename='images/gingerbread-man.png') }}" alt="Profile Image Gingerbread Man"
        class="profile">
</div>
<h2 class="w-100 font-amatic color-493323 text-center">{{ username }}'s profile</h2>
<hr>
<div class="text-center">
    <h4 class="font-balsamiq color-493323 mt-4">Create Recipe</h4>
    <button type="submit" class="btn btn-ffd5b7 color-493323 mt-4 mb-4">Create Recipe</button>
</div>
{% endblock %}

{% block content %}
<section id="section-recipe">
    <h3 class="recipe-title font-balsamiq color-493323 text-center">Recipes</h3>
    <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
    <div class="card recipe-summary bg-color-fbeade">
        {% for recipe in recipes %}
        <div class="card-body">
            <img src="{{ recipe.recipe_img_url }}" class="card-img-top" alt="..." />
            <p class="card-text">Category: {{ recipe.category_name | capitalize }}</p>
            <h5 class="card-title recipe-summary-title font-balsamiq color-493323 text-center">
                {{ recipe.recipe_title | title }}</h5>
            <p class="card-text">{{ recipe.recipe_desc | truncate(50) }} </p>
        </div>
        <ul class="list-group list-group-flush posted-list">
            <li class="list-group-item bg-color-fbeade text-center">Posted by {{ recipe.username | capitalize }}</li>
            <li class="list-group-item bg-color-fbeade text-center">on 17 Mar 2021</li>
        </ul>
        {% endfor %}
        <div class="card-body">
            <a href="#" class="card-link see-more-recipe">See More</a>
        </div>
    </div>
    <!-- /End of Credit -->
    <div class="blank-space"></div>
</section>

{% endblock %}