{% extends "base.html" %}

{% block heading %}
<a class="navbar-brand" href="{{ url_for('home') }}"><img src="../static/images/logo.png" alt="Website Logo"></a>
<h2 class="font-amatic color-493323 text-center">{{ recipe.recipe_title }}</h2>

<section id="section-recipe" class="color-493323">
    <div class="blank-space-top"></div>

    <div class="card recipe-summary bg-color-fbeade">
        <div class="card-body">
            <img src="{{ recipe.recipe_img_url }}" class="card-img-top" alt="{{ recipe.recipe_title | title }}" />
            <h5 class="card-title">{{ recipe.recipe_title | title }}</h5>
            <p class="card-text">{{ recipe.recipe_desc }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ recipe.recipe_time }}</li>
            <li class="list-group-item">{{ recipe.recipe_serves }}</li>
        </ul>

        <div class="form-outline mb-4 form-white input-fields-wrap-ingreds">
            <div>
                {% for ingreds in recipe.recipe_ingreds %}
                <p>{{ ingreds }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="form-outline mb-4 form-white input-fields-wrap-steps">
            <div>
                {% for step in recipe.recipe_steps %}
                <p>{{ step }}</p>
                {% endfor %}
            </div>
        </div>

        <div>
            <p>{{ recipe.recipe_tips }}</p>
        </div>

        <div>
            <p>{{ recipe.username }}</p>
        </div>


        <div class="card-body">
            <a href="{{ url_for('home') }}" class="card-link">Home</a>
        </div>
    </div>
    <div class="blank-space-bottom"></div>

</section>

{% endblock %}