{% extends "base.html" %}

{% block heading %}
<div class="img-account">
    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/uncle-jam.png') }}" alt="Uncle Jam"
            id="uncle-jam-account"></a>
</div>
<h2 class="w-100 color-493323 text-center">Register</h2>
{% endblock %}

{% block form %}
<section class="section-account color-fbeade">
    <p class="note-register text-center"><i class="fas fa-info-circle"></i> Username can contain only alphabets &
        numbers, and max 30 letters.<br>Min 5 letters required for both.
    </p>
    <!-- Credit: MDB Navbar @ https://mdbootstrap.com/docs/standard/navigation/navbar/ -->
    <form id="form-account" method="POST" action="{{ url_for('register') }}">
        <div class="form-outline mb-4 form-white">
            <i class="fas fa-user trailing"></i>
            <input type="text" id="username" name="username" class="form-control bg-color-49332-06"
                data-mdb-showcounter="true" pattern="^[a-zA-Z0-9]{5,30}$" minlength="5" maxlength="30" required />
            <label class="username form-label" for="username">Username</label>
            <div class="form-helper"></div>
        </div>
        <div class="form-outline mb-4 form-white">
            <i class="fas fa-lock trailing"></i>
            <input type="password" id="password" name="password" class="form-control bg-color-49332-06" minlength="5"
                required />
            <label class="password form-label" for="password">Password</label>
        </div>
        <div class="div-btn-account">
            <button type="submit" class="btn btn-block btn-account color-493323">Register</button>
        </div>
    </form>
    <div>
        <p class="diversion-account text-center">Already registered?<br>Click <a href="{{ url_for('login') }}">HERE to
                LOGIN</a></p>
    </div>
    <!-- /End of Credit -->
</section>
{% endblock %}