{% extends "base.html" %}

{% block heading %}
<div class="text-center">
    <img class="categories-img" src="{{ url_for('static', filename='images/shop.png') }}" alt="Shop">
    <h2>Shop</h2>
    <img class="d-none d-lg-inline left" src="{{ url_for('static', filename='images/saucepans.png') }}" alt="Saucepans">
    <img class="d-none d-lg-inline right" src="{{ url_for('static', filename='images/saucepans.png') }}"
        alt="Saucepans">
</div>
{% endblock %}

{% block content %}
<section id="section-shop">
    <div class="container-fluid">
        <div class="row">
            <h3>Baking Items</h3>
            <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->
            <!-- Baking Item 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="card card-shop">
                    <a class="affiliate-img" target="_blank" href="https://www.amazon.co.uk/gp/product/B07N1JB9V7/"><img
                            src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07N1JB9V7&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=faketag"
                            alt="Cake Decorating Equipment"></a>
                    <div class="card-body bg-color-fbeade mt-3">
                        <p class="card-text text-center">
                            Cake Decorating Equipment, Omew 106pcs Cake Decorating Set Cupcake Decorating Kit Baking
                            Supplies with
                            Nonslip Turntable Stand, 54 Numbered Icing Tips and Frosting Tools for Cake DIY
                        </p>
                        <a href="https://www.amazon.co.uk/gp/product/B07N1JB9V7/" class="buy-item" target="_blank"
                            rel="noopener">Buy</a>
                    </div>
                </div>
            </div>
            <!-- Baking Item 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="card card-shop">
                    <a class="affiliate-img" target="_blank" href="https://www.amazon.co.uk/gp/product/B07B3XVN2V/"><img
                            src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07B3XVN2V&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=faketag"
                            alt="Baking Tray PAN Set"></a>
                    <div class="card-body bg-color-fbeade mt-3">
                        <p class="card-text text-center">
                            Set of 8 Non Stick Baking Tray PAN Set Muffin Oven Roasting BAKEWARE Roast New
                        </p>
                        <a href="https://www.amazon.co.uk/gp/product/B07B3XVN2V/" class="buy-item" target="_blank"
                            rel="noopener">Buy</a>
                    </div>
                </div>
            </div>
            <!-- Baking Item 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="card card-shop">
                    <a class="affiliate-img" target="_blank" href="https://www.amazon.co.uk/gp/product/B089F8XXLM/"><img
                            src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B089F8XXLM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=faketag"
                            alt="Stainless Steel Angled Icing Spatulas"></a>
                    <div class="card-body bg-color-fbeade mt-3">
                        <p class="card-text text-center">
                            Stainless Steel Angled Icing Spatulas, Minkle Palette Icing Spatula Tools Set of 3 with
                            Non-Slip
                            Handle
                            for Baking, Cake Decorating, Smoothing Icing and Cooking, Frosting Pastries, Cupcake
                        </p>
                        <a href="https://www.amazon.co.uk/gp/product/B089F8XXLM/" class="buy-item" target="_blank"
                            rel="noopener">Buy</a>
                    </div>
                </div>
            </div>
            <!-- Baking Item 4 -->
            <div class="col-md-6 col-lg-4">
                <div class="card card-shop">
                    <a class="affiliate-img" target="_blank" href="https://www.amazon.co.uk/gp/product/B07XVF56FM/"><img
                            src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07XVF56FM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=faketag"
                            alt="Kenwood Mixer"></a>
                    <div class="card-body bg-color-fbeade mt-3">
                        <p class="card-text text-center">
                            Kenwood Mary Berry Special Edition Chef Elite Stand Mixer for Baking, 3 Bowl Tools, Whisk,
                            Dough
                            Hook &
                            K-Beater, Fast Cakes' Recipe Book, KVC5100C, Cream
                        </p>
                        <a href="https://www.amazon.co.uk/gp/product/B07XVF56FM/" class="buy-item" target="_blank"
                            rel="noopener">Buy</a>
                    </div>
                </div>
            </div>
            <!-- Baking Item 5 -->
            <div class="col-md-6 col-lg-4">
                <div class="card card-shop">
                    <a class="affiliate-img" target="_blank" href="https://www.amazon.co.uk/gp/product/1846077850/"><img
                            src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=1846077850&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=faketag"
                            alt="Mary Berry's Baking Book"></a>
                    <div class="card-body bg-color-fbeade mt-3">
                        <p class="card-text text-center">
                            Mary Berry's Baking Bible: Over 250 Classic Recipes
                        </p>
                        <a href="https://www.amazon.co.uk/gp/product/1846077850/" class="buy-item" target="_blank"
                            rel="noopener">Buy</a>
                    </div>
                </div>
            </div>
            <!-- Baking Item 6 -->
            <div class="col-md-6 col-lg-4">
                <div class="card card-shop">
                    <a class="affiliate-img" target="_blank" href="https://www.amazon.co.uk/gp/product/B01HMITHY2/"><img
                            src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B01HMITHY2&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=faketag"
                            alt="Breadmaker"></a>
                    <div class="card-body bg-color-fbeade mt-3">
                        <p class="card-text text-center">
                            Russell Hobbs 23620 Compact Fast Breadmaker, 660 W, Black - Energy Class A
                        </p>
                        <a href="https://www.amazon.co.uk/gp/product/B01HMITHY2/" class="buy-item" target="_blank"
                            rel="noopener">Buy</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /End of Credit -->
    </div>
</section>
{% endblock %}