{% extends "base.html" %}

{% block heading %}
<h1 class="font-amatic color-493323 text-center">Shop</h1>
<div class="text-center">
    <img src="{{ url_for('static', filename='images/shop.png') }}" alt="Shop" class="categories-img">
</div>
{% endblock %}

{% block content %}
<section id="section-recipe">
    <h3 class="recipe-title font-balsamiq color-493323 text-center">Baking Item</h3>
    <!-- Credit: MDB Cards @ https://mdbootstrap.com/docs/standard/components/cards/ -->

    <div class="card card-shop">
        <a class="affiliate-img" target="_blank"
            href="https://www.amazon.co.uk/gp/product/B07N1JB9V7/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07N1JB9V7&linkCode=as2&tag=tototanaka-21&linkId=b0a8f5ea314bcd705c3d05ce4348a509"><img
                border="0"
                src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07N1JB9V7&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=tototanaka-21"></a>
        <div class="card-body">
            <p class="card-text text-center">
                Cake Decorating Equipment, Omew 106pcs Cake Decorating Set Cupcake Decorating Kit Baking Supplies with
                Nonslip Turntable Stand, 54 Numbered Icing Tips and Frosting Tools for Cake DIY
            </p>
            <a href="https://www.amazon.co.uk/gp/product/B07N1JB9V7/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07N1JB9V7&linkCode=as2&tag=tototanaka-21&linkId=b0a8f5ea314bcd705c3d05ce4348a509"
                class="btn btn-shop" target="_blank">Shop</a>
        </div>
    </div>

    <div class="card card-shop">
        <a class="affiliate-img" target="_blank"
            href="https://www.amazon.co.uk/gp/product/B07B3XVN2V/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07B3XVN2V&linkCode=as2&tag=tototanaka-21&linkId=4a007a11effec87cdca04ca593c0ef62"><img
                border="0"
                src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07B3XVN2V&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=tototanaka-21"></a>
        <div class="card-body">
            <p class="card-text text-center">
                Set of 8 Non Stick Baking Tray PAN Set Muffin Oven Roasting BAKEWARE Roast New
            </p>
            <a href="https://www.amazon.co.uk/gp/product/B07B3XVN2V/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07B3XVN2V&linkCode=as2&tag=tototanaka-21&linkId=4a007a11effec87cdca04ca593c0ef62"
                class="btn btn-shop" target="_blank">Shop</a>
        </div>
    </div>

    <div class="card card-shop">
        <a class="affiliate-img" target="_blank"
            href="https://www.amazon.co.uk/gp/product/B089F8XXLM/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B089F8XXLM&linkCode=as2&tag=tototanaka-21&linkId=04f805273943e215c9134adbb83bd723"><img
                border="0"
                src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B089F8XXLM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=tototanaka-21"></a>
        <div class="card-body">
            <p class="card-text text-center">
                Stainless Steel Angled Icing Spatulas,Minkle Palette Icing Spatula Tools Set of 3 with Non-Slip Handle
                for Baking, Cake Decorating, Smoothing Icing and Cooking, Frosting Pastries, Cupcake
            </p>
            <a href="https://www.amazon.co.uk/gp/product/B089F8XXLM/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B089F8XXLM&linkCode=as2&tag=tototanaka-21&linkId=04f805273943e215c9134adbb83bd723"
                class="btn btn-shop" target="_blank">Shop</a>
        </div>
    </div>

    <div class="card card-shop">
        <a class="affiliate-img" target="_blank"
            href="https://www.amazon.co.uk/gp/product/B07XVF56FM/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07XVF56FM&linkCode=as2&tag=tototanaka-21&linkId=1fa99ed017ec91b8c0360862ba3ff7a7"><img
                border="0"
                src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B07XVF56FM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=tototanaka-21"></a>
        <div class="card-body">
            <p class="card-text text-center">
                Kenwood Mary Berry Special Edition Chef Elite Stand Mixer for Baking, 3 Bowl Tools, Whisk, Dough Hook &
                K-Beater, Fast Cakes' Recipe Book, KVC5100C, Cream
            </p>
            <a href="https://www.amazon.co.uk/gp/product/B07XVF56FM/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07XVF56FM&linkCode=as2&tag=tototanaka-21&linkId=1fa99ed017ec91b8c0360862ba3ff7a7"
                class="btn btn-shop" target="_blank">Shop</a>
        </div>
    </div>

    <div class="card card-shop">
        <a class="affiliate-img" target="_blank"
            href="https://www.amazon.co.uk/gp/product/1846077850/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1846077850&linkCode=as2&tag=tototanaka-21&linkId=ec42897ba3fa8696d83d075a61c6b0bc"><img
                border="0"
                src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=1846077850&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=tototanaka-21"></a>
        <div class="card-body">
            <p class="card-text text-center">
                Mary Berry's Baking Bible: Over 250 Classic Recipes
            </p>
            <a href="https://www.amazon.co.uk/gp/product/1846077850/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=1846077850&linkCode=as2&tag=tototanaka-21&linkId=ec42897ba3fa8696d83d075a61c6b0bc"
                class="btn btn-shop" target="_blank">Shop</a>
        </div>
    </div>

    <div class="card card-shop">
        <a class="affiliate-img" target="_blank"
            href="https://www.amazon.co.uk/gp/product/B01HMITHY2/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B01HMITHY2&linkCode=as2&tag=tototanaka-21&linkId=30e49dae7dfeff4da567995711613f01"><img
                border="0"
                src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=GB&ASIN=B01HMITHY2&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=tototanaka-21"></a>
        <div class="card-body">
            <p class="card-text text-center">
                Russell Hobbs 23620 Compact Fast Breadmaker, 660 W, Black - Energy Class A
            </p>
            <a href="https://www.amazon.co.uk/gp/product/B01HMITHY2/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B01HMITHY2&linkCode=as2&tag=tototanaka-21&linkId=30e49dae7dfeff4da567995711613f01"
                class="btn btn-shop" target="_blank">Shop</a>
        </div>
    </div>

    <!-- /End of Credit -->
    <div class="blank-space-bottom"></div>
</section>
{% endblock %}